body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #1a1a1a,#3a0ca3);
    font-family: 'Arial', sans-serif;
    color: white;
}

.container {
    background:#111;
    padding: 30px;
    border-radius:15px;
    width:320px;
    text-align: center;
    box-shadow: 0 0 25px rgba(255,0,150,0.5);
}

input {
    display: block;
    width: 90%;
    margin: 10px auto;
    padding: 10px;
    border-radius:8px;
    border: none;
}

button {
    padding: 10px;
    border: none;
    border-radius: 8px;
    background: #ff006e;
    color: white;
    cursor: pointer;
    }

    #resultado {
        margin-top: 15px;
        font-weight: bold;
        
    }

    .barra {
        width: 100%;
        height: 20px;
        background-color: #ddd;
        border-radius: 10px;
        transition: 10px;
    }   

    #progresso {
        height: 100%;
        width: 0%;
        background-color: #00bcd4;
        border-radius: 10px;
        transition: 0.3s;
    }